#mainNav .navbar-nav > li > a {
    font-size: 13px;
    font-weight: 700;
}
#mainNav .navbar-brand {
    font-weight: 700;
}
.header_logo {
    width: 100%;
}
h1, h2, h3 {
    font-family: 'Cabin Sketch', cursive;
}
.infos1 {
    margin-bottom: 5%;
}
#infos .col-sm-2 {
  text-align: center;
}
section.cta .cta-content h2 {
    max-width: 500px;
}
@media screen and (min-width: 1000px) {
  section.info {
    background-image: url("../img/trenchcoat.svg");
    background-size: 40% auto;
    background-repeat: no-repeat;
    background-position: 10%;
  }
  .info .container {
    margin-left: 32%;
    width: 68%;
  }

  .info .row {
    margin-left: 18%;
    width: 50vw;
  }
}

img {
    width: 100%;
}

  ul.list-social {
    margin-bottom: 3%; }
    ul.list-social li a {
      display: block;
      height: 40px;
      width: 40px;
      line-height: 40px;
      font-size: 20px;
      border-radius: 100%;
      color: white; }
    ul.list-social li.social-twitter a {
      background-color: #1da1f2; }
      ul.list-social li.social-twitter a:hover {
        background-color: #0d95e8; }
    ul.list-social li.social-facebook a {
      background-color: #3b5998; }
      ul.list-social li.social-facebook a:hover {
        background-color: #344e86; }
    ul.list-social li.social-youtube a {
      background-color: #e52d27; }
      ul.list-social li.social-youtube a:hover {
        background-color: #b31217; }

.polaroid-style, .polaroid-style-inverted {
  transform: rotate(-6deg);
  border-radius: 4px;
  border: 1px solid #eee;
  padding: 8px;
  background: #fff;
  margin-top: 15px;
}

.polaroid-style-inverted {
  transform: rotate(6deg);
}

.signup_success {
  padding: 10% 0;
}

@media screen and (orientation:landscape) {
  .medium-image {
    height: auto;
    width: 30vw;
  }
  .small-image {
    height: auto;
    width: 15vw;
  }
  .small-image-by-height {
    height: 25vh;
    width: auto;
  }

  header.masthead {
    background: url("../img/bg-top.jpg");
  }
}

@media screen and (orientation:portrait) {
  .medium-image {
    height: 30vh;
    width: auto;
  }
  .small-image, .small-image-by-height {
    width: 80vw;
    height: auto;
  }
  header.masthead {
    background: url("../img/bg-top-mobile.jpg");
    height: 95vh;
  }
  .header_logo {
    margin-top: 14%;
  }
  #infos i {
    margin: 7% 0;
  }
}

form input:not([type="radio"]):not([type="checkbox"]), form textarea:not([type="radio"]):not([type="checkbox"]), form button:not([type="radio"]):not([type="checkbox"]), form label.input-replacement:not([type="radio"]):not([type="checkbox"]) {
    margin-bottom: 1vh;
    box-sizing: border-box;
    display: block;
}

/* hover style just for information */
label:hover:before {
  border: 2px solid #4778d9!important;
}
button.btn {
    width: auto;
    padding: 1em;
}

form h2 {
    margin-top: 0.7em;
}

.entry-container h2 {
    margin-bottom: 0.6em;
}

.entry-container p {
    font-size: 16pt;
}

.row-with-margin {
  margin-bottom: 5%;
}

.section-heading {
  margin-bottom: 5%;
}

a {
  text-decoration: none;
}

.mandat {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.mandat p {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
}

.cutlery-size {
  font-size: 8em;
}

.users-size {
  font-size: 6em;
}

.question-size {
  font-size: 11em;
}

.glass-size {
  font-size: 7em;
}

.envelope-size {
  font-size: 10em;
}

.remove-top {
  margin-top: -20px;
}

a {
  color: #c39624;
}

.faq ol a {
  color: #000000;
}
