{% extends "frontend/base.html" %}
{% block content %}
<section>
  <div class="container">
  <h1>Schritt 3 von 4</h1>
  <div class="progress">
    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
  </div>
  <p>&nbsp;</p>
  <h2>Newsletter</h2>
  Du möchtest kein Schlemmen mehr verpassen? Melde dich für unseren Newsletter an. Wir spammen dich auch nicht zu ;)
  <form id="contactForm" action="{% url 'frontend:anmelden3' %}#anmelden" method="post">
    {% csrf_token %}
    <div class="formBox">
      <div class="row">
        <div class="col-md-6">
          <div class="form-check">
              <label class="form-check-label">
                  {{ form.newsletter1 }} Ich will ihn!
              </label>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-check">
              <label class="form-check-label">
                  {{ form.newsletter2 }} Mein Teampartner will ihn auch!
              </label>
          </div>
        </div>
      </div>
      <div class="row" style="margin-top: 4em">
          <h2>Spamschutz</h2>
          <div class="col-md-12">
              {% if form.captcha.errors %}
                <div class="form-group has-danger">
                  <label for="{{ form.captcha.id_for_label }}">In welcher Stadt findet Schlemmen Ohne Grenzen statt?</label>
                  {{ form.captcha }}
                  <div class="form-control-feedback">{{ form.captcha.errors }}</div>
                </div>
              {% else %}
                <div class="form-group">
                  <label for="{{ form.captcha.id_for_label }}">Spamschutz: In welcher Stadt findet Schlemmen Ohne Grenzen statt?</label>
                  {{ form.captcha }}
                </div>
              {% endif %}
              <div class="form-check">
                <label class="form-check-label">
                    {{ form.accepted_tos }} Wir akzeptieren die <a href="{% url 'frontend:bedingungen' %}" target="_blank">Datenschutzerklärung &amp; rechtliche Bedingungen</a>.
                </label>
              </div>
          </div>
      </div>
    </div>
    <button class="btn btn-success signup-next-button pull-right" type="submit">
      <i class="fa fa-paper-plane" aria-hidden="true"></i>
      Schmeiß den herd an!
    </button>
  </form>
</div>
</section>
{% endblock %}
