{% extends "frontend/base.html" %}
{% load static %}
{% block content %}
    <section class="info" id="infos">
        <div class="container">
            <div class="section-heading">
                <h2>Rechtliche Hinweise &amp; Datenschutz</h2>
                <p class="text-muted">Das muss leider auch sein. Aber wenn dir hier irgendetwas schräg vorkommt - schreib uns einfach. Wir wollen ja mal nicht päpstlicher sein als der Papst ;)</p>
            </div>
            <div class="row row-with-margin">
                <div class="col-sm-1">
                </div>
                <div class="col-sm-11">
                  <h3>§ 1 Gescheiterte Latschrift</h3>
                  <br>
                  Im Falle einer gescheiterten Lastschrift (z.B. aufgrund mangelnder Deckung des Kontos oder falsche IBAN/BIC) stellt unsere Bank uns Kosten in Rechnung.
                  Wir behalten uns daher vor, diese Kosten dem oder der VerursacherIn in Rechnung zu stellen. Bitte schaut daher nochmal genau drauf, ob das auch alles passt!
                  <br>
                  <br>
                  <h3>§ 2 Haftung</h3>
                  <br>
                  Jeder Teilnehmer nimmt selbstverantwortlich und auf eigene Gefahr an der Veranstaltung teil. Wir
                  übernehmen keinerlei Verantwortung, insbesondere nicht für Wegeunfälle, verdorbenes Essen oder
                  Schäden an Wohnungseinrichtungen. Selbstverständlich bemühen wir uns um einen reibungslosen
                  Ablauf, können aber weder für die Qualität des Essens, noch für das Ausbleiben jeglicher Pannen
                  garantieren.
                  <br><br>
                  <h3>§ 3 Nachträgliche Ablehnung</h3>
                  <br>
                  Die Anmeldung begründet keinen Anspruch auf Teilnahme. Wir behalten uns das Recht vor, in
                  besonderen Fällen Personen auch nachträglich ohne Angabe von Gründen von der Teilnahme
                  auszuschließen.
                  <br><br>
                  <h3>§ 4 Datenschutz</h3>
                  <br>
                  Mit Unterschreiben des Anmeldeformulars willigt Ihr in die Verwendung Eurer Daten zur Durchführung
                  des Running Dinners ein. Die Daten werden nur in dem Umfang verwendet, wie es zu einem
                  reibungslosen Ablauf notwendig ist und vorbehaltlich § 5 nicht an Dritte weitergegeben.
                  <br><br>
                  <h3>§ 5 Weitergabe von Daten</h3>
                  <br>
                  Durch Absenden des Anmeldeformulars willigt Ihr in die Weitergabe Eurer Daten an andere Teilnehmer
                  ein, soweit dies für die Durchführung der Veranstaltung erforderlich ist. Jeder Teilnehmer ist angehalten,
                  verantwortlich mit den Daten der anderen umzugehen, diese nur für das Running Dinner zu verwenden
                  und nach der Veranstaltung zu löschen. Dass sich alle Teilnehmer hieran halten, können wir nicht
                  garantieren und eine Haftung unsererseits für eventuellen Missbrauch wird ausgeschlossen.
                </div>
            </div>

        </div>
    </section>
{% endblock %}
