{% extends "frontend/base_portal.html" %}
{% load static %}

{% block content %}

<div class="characters">
  <div class="list">
    <div class="row"><h4>Charaktere</h4></div>
    <img src="{% static 'frontend/img/charaktere/richard.jpg' %}">
    <div class="row"><h5>Richard Schoenborn</h5></div>
    <div class="row">29, in den USA aufgewachsen, Vater war aber Deutscher.</div>
    <div class="row">Nach dem Tod seiner Eltern vor 9 Jahren hergezogen, seitdem kaum Kontakt zu Familie in den USA, Reichtum von den Eltern geerbt,</div>
    <div class="row">ist in ein paar Unternehmen in der Gegend eingestiegen</div>
    <div class="row"></div>
    <div class="row"></div>
    <img src="{% static 'frontend/img/charaktere/aunt.jpg' %}">
    <div class="row"><h5>Margaret Taylor</h5></div>
    <div class="row">62, Rickys Tante, lebt in den USA, wenig Kontakt zu Ricky;</div>
    <div class="row">ich glaube das ist das erste Mal dass sie sich sehen seit neun Jahren (?),</div>
    <div class="row">kann sein, dass sie Kohle braucht (? Unbestätigtes Gerücht).</div>
    <div class="row">Nicht klar, was sie genau macht, lebt soweit ich weiß von dem Geld ihrer Familie,</div>
    <div class="row">hängt aber auch in einigen Unternehmen drin</div>
    <div class="row"></div>
    <img src="{% static 'frontend/img/charaktere/butler.jpg' %}">
    <div class="row"><h5>Thomas Schaller</h5></div>
    <div class="row">32, arbeitet seit ca 10 Jahren für Ricky (sowas wie der Butler?),</div>
    <div class="row">kommt ursprünglich hier aus der Gegend, war aber zwei Jahre in den USA (hat da wsl auch Ricky kennengelernt).</div>
    <div class="row">Sonst ist nicht viel über ihn bekannt (Beziehung? Privatleben?),</div>
    <div class="row">außer dass er Tennis spielt und früher als Koch gearbeitet hat</div>

    <div class="row"></div>
    <img src="{% static 'frontend/img/charaktere/girlfriend.jpg' %}">
    <div class="row"><h5>Jennifer „Jenny“ Fischer</h5></div>
    <div class="row">25, Rickys aktuelle Freundin.</div>
    <div class="row">Haben sich beim Fitnesstraining kennengelernt.</div>
    <div class="row">Gerne in der High Society unterwegs, ihre Eltern sind aber eigentlich normaler Mittelstand</div>
    <div class="row">und nicht so reich (vllt deshalb mit Ricky zusammen? Man weiß es nicht).</div>
    <div class="row">Hat in Frankfurt angefangen, Management zu studieren, dann aber abgebrochen</div>
    <div class="row">und eine Ausbildung zur Fitnesstrainerin gemacht.</div>

  </div>
  {% endblock %}
</div>
