{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Clustering</title>

    <link href="{% static 'frontend/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'frontend/css/leaflet.css' %}" rel="stylesheet">
    <link href="{% static 'frontend/css/clustering.css' %}" rel="stylesheet">

  </head>
  <body>
    <div class="container">
        <h1>Clustering</h1>
        <div id="mapid"></div>
        <a class="btn btn-secondary" href="{% url 'frontend:regenerate_clusters' %}" role="button">Regenerate Clusters</a>
        <a class="btn btn-secondary" href="{% url 'frontend:regenerate_visiting_groups' %}" role="button">Regenerate Visiting Groups</a>
        <h2>Falsche Einträge</h2>
        <table class="table">
          <thead>
            <tr>
              <th>Name 1</th>
              <th>Name 2</th>
              <th>Adresse</th>
            </tr>
          </thead>
          <tbody>
            {% for entry in wrong_entries %}
            <tr>
              <td>{{ entry.name1 }}</td>
              <td>{{ entry.name2 }}</td>
              <td>{{ entry.street }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static 'frontend/js/jquery.min.js' %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'frontend/js/tether.min.js' %}"></script>
    <script src="{% static 'frontend/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'frontend/js/leaflet.js' %}"></script>
    <script src="{% static 'frontend/js/clustering.js' %}"></script>
    <script>
        $(function () {
            var jsonstr = {{ jsonstr|safe }};
            draw_map(jsonstr);
        });
    </script>
  </body>
</html>