{% load static %}
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Etudes Sans Frontières - Studieren Ohne Grenzen Deutschland e.V.">

    <title>Schlemmen ohne Grenzen</title>

    <link href="{% static 'frontend/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link rel="stylesheet" href="{% static 'frontend/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'frontend/css/simple-line-icons.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'frontend/css/new-age.min.css' %}" rel="stylesheet">
    <link href="{% static 'frontend/css/schlemmen.css' %}" rel="stylesheet">
</head>

<body id="page-top">

    <div class="container">
        <h1>Fast geschafft</h1>
        <p>Um die Anmeldung abzuschließen musst du uns eine Erlaubnis erteilen, die 4€ Startbeitrag pro Person von deinem Konto einzuziehen.</p>
        <h2>SEPA Lastschrift</h2>
        <p>Damit wir die SEPA-Lastschrift von deinem Konto einziehen können, benötigen wir von dir ein SEPA-Lastschriftmandat. Das Mandat wird bei uns als PDF gespeichert. Du erhälst das Mandat als PDF an die von dir angegebene E-Mail-Adresse.</p>
        <div class="card mandat">
            <p><strong>SEPA-Lastschriftmandat</strong></p>

            <p>Zahlungsempfänger: Studieren Ohne Grenzen e.V.<br>
            Gläubiger Identifikationsnummer: DE25ZZZ00000252980<br>
            Mandatsreferenz: {{ mandatsreferenz }}</p>
            
            <p>Ich ermächtige den Zahlungsempfänger, Zahlungen von meinem Konto mittels Lastschrift einzuziehen. Zugleich weise ich mein Kreditinstitut an, die von dem Zahlungsempfänger auf mein Konto gezogenen Lastschriften einzulösen.</p>
            <p>Hinweis: Ich kann innerhalb von acht Wochen, beginnend mit dem Belastungsdatum, die Erstattung des belasteten Betrages verlangen. Es gelten dabei die mit meinem Kreditinstitut vereinbarten Bedingungen.</p>
            <table>
                <tr>
                    <td>Name des Zahlungspflichtigen:</td>
                    <td>{{ kontoinhaber }}</td>
                </tr>
                <tr>
                    <td>IBAN:</td>
                    <td>{{ iban }}</td>
                </tr>
                <tr>
                    <td>BIC:</td>
                    <td>{{ bic }}</td>
                </tr>
            </table>
        </div>
        <form  action="{% url 'frontend:confirmation' %}" method="post">
            {% csrf_token %}
            <div class="form-check">
                <label class="form-check-label">
                    {{ form.mandat }}
                    Ich möchte das Mandat erteilen (elektronische Übermittlung)
                </label>
            </div>
            <button type="submit" class="btn btn-primary btn-sm">Anmeldung abschließen</button>
        </form>
    </div>

    <footer>
        <div class="container">
            <ul class="list-inline list-social">
                <li class="list-inline-item social-twitter">
                    <a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li class="list-inline-item social-facebook">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li class="list-inline-item social-google-plus">
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                </li>
            </ul>
            <p>&copy; 2017 Studieren Ohne Grenzen. All Rights Reserved. Background by <a href="https://www.flickr.com/photos/138248475@N03/23906675105">John Voo</a>(CC By 2.0)</p>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a href="#">Privacy</a>
                </li>
                <li class="list-inline-item">
                    <a href="#">Terms</a>
                </li>
                <li class="list-inline-item">
                    <a href="#">FAQ</a>
                </li>
            </ul>
        </div>
    </footer>

    <script src="{% static 'frontend/js/jquery.min.js' %}"></script>
    <script src="{% static 'frontend/js/tether.min.js' %}"></script>
    <script src="{% static 'frontend/js/bootstrap.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'frontend/js/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'frontend/js/new-age.min.js' %}"></script>

</body>
</html>
