{% extends "frontend/base.html" %}
{% block content %}
    <div class="container">
        <h1>Fast geschafft</h1>
        <p>Um die Anmeldung abzuschließen musst du uns eine Erlaubnis erteilen, die 4€ Startbeitrag pro Person von deinem Konto einzuziehen.</p>
        <h2>SEPA Lastschrift</h2>
        <p>Damit wir die SEPA-Lastschrift von deinem Konto einziehen können, benötigen wir von dir ein SEPA-Lastschriftmandat. Das Mandat wird bei uns als PDF gespeichert. Du erhälst das Mandat als PDF an die von dir angegebene E-Mail-Adresse.</p>
        <div class="card mandat">
            <p><strong>SEPA-Lastschriftmandat</strong></p>

            <p>Zahlungsempfänger: Studieren Ohne Grenzen e.V.<br>
            Gläubiger Identifikationsnummer: DE25ZZZ00000252980<br>
            Mandatsreferenz: {{ mandatsreferenz }}</p>
            
            <p>Ich ermächtige den Zahlungsempfänger, Zahlungen von meinem Konto mittels Lastschrift einzuziehen. Zugleich weise ich mein Kreditinstitut an, die von dem Zahlungsempfänger auf mein Konto gezogenen Lastschriften einzulösen.</p>
            <p>Hinweis: Ich kann innerhalb von acht Wochen, beginnend mit dem Belastungsdatum, die Erstattung des belasteten Betrages verlangen. Es gelten dabei die mit meinem Kreditinstitut vereinbarten Bedingungen.</p>
            <table>
                <tr>
                    <td>Name des Zahlungspflichtigen:</td>
                    <td>{{ kontoinhaber }}</td>
                </tr>
                <tr>
                    <td>IBAN:</td>
                    <td>{{ iban }}</td>
                </tr>
                <tr>
                    <td>BIC:</td>
                    <td>{{ bic }}</td>
                </tr>
            </table>
        </div>
        <form  action="{% url 'frontend:confirmation' %}" method="post">
            {% csrf_token %}
            <div class="form-check">
                <label class="form-check-label">
                    {{ form.mandat }}
                    Ich möchte das Mandat erteilen (elektronische Übermittlung)
                </label>
            </div>
            <button type="submit" class="btn btn-primary btn-sm">Anmeldung abschließen</button>
        </form>
    </div>
{% endblock %}