{% extends "frontend/base.html" %}
{% block content %}
<section>
    <div class="container faq">
        <h1>FAQ</h1>
        <ol>
            <li><a href="#q0">Teamgröße?</a></li>
            <li><a href="#q1">Wer kann mitmachen?</a></li>
            <li><a href="#q2">Mindestteilnahmealter?</a></li>
            <li><a href="#q3">Zeitlicher Ablauf</a></li>
            <li><a href="#q4">Sind die Zeiten fest vorgegeben?</a></li>
            <li><a href="#q5">Party am 21.06.2017 ab 23 Uhr in einem Club in Karlsruhe</a></li>
            <li><a href="#q6">Wie wird entschieden mit welchen anderen WGs wir den Abend verbringen?</a></li>
            <li><a href="#q7">Welche Informationen erhalten wir nach der Bezahlung der Teilnahmegebühr und wann?</a></li>
            <li><a href="#q8">Wer muss was zubereiten? Wer zahlt die Zutaten?</a></li>
            <li><a href="#q9">Aus unserer WG isst mindestens eine Person kein Fleisch, hat eine Milchallergie etc.!</a></li>
            <li><a href="#q10">Wie melden wir uns an?</a></li>
            <li><a href="#q14">Wie viele Personen kommen zu uns zum Essen?</a></li>
            <li><a href="#q15">Was passiert, wenn wir kurzfristig nicht teilnehmen können, weil wir krank sind etc.?</a></li>
            <li><a href="#q16">Teilnahmegebühr? Wofür zahlen wir?</a></li>
            <li><a href="#q17">Wer oder was ist Studieren ohne Grenzen?</a></li>
            <li><a href="#q22">Unsere Frage ist hier nicht aufgelistet!</a></li>
        </ol>
        <h2>Rätsel?</h2>
        <p>Dieses Mal begleitet euch über den kompletten Abend eine Story, für die es gilt zu jedem Gang ein Rätsel zu lösen. Wichtig ist, dass ihr euch das Ergebnis merkt oder am besten aufschreibt - denn ihr werdet es in den nächsten Gängen brauchen. Natürlich kann es auch mal haken - macht euch da keine Sorgen! es wird eine Website geben, wo ihr im Laufe eines Ganges Tipps abrufen könnt. Wenn ihr aber alle zusammen arbeitet, könnt ihr aber das Rätsel auf jeden Fall knacken! Zumindest eine Person in eurem Team sollte ein Smartphone haben, damit ihr die Rätsel und Hinweise mitnehmen könnt.</p>

        <h2 id="q0">Teamgröße?</h2>
        <p>Jedes Team besteht aus 2 Personen. Bei jedem Gang seid ihr also zu sechst - so viel Platz ist selbst in der kleinsten Bude 😄.</p>

        <h2 id="q1">Wer kann mitmachen?</h2>
        <p>Ihr könnt teilnehmen, wenn zumindest einer von euch noch studiert und ihr in eurer WG zusätzlich zu eurem Team 4 Leute aufnehmen könnt. Außerdem müsst ihr in Karlsruhe wohnen - mit dem Fahrrad oder der Straßenbahn sollte der Marktplatz in höchstens 15-20min erreichbar sein. Natürlich könnt ihr von überall her kommen - lediglich die Küche eures Teams muss sich in diesem Bereich befinden. Restaurants aufzusuchen ist übrigens unsportlich! ;-)</p>

        <h2 id="q2">Mindestteilnahmealter?</h2>
        <p>Weil wir den Getränke- und damit auch Alkoholkonsum der Teilnehmer nicht kontrollieren können und wollen, dürft ihr erst ab 18 mitmachen. Wir distanzieren uns hiermit ausdrücklich von jeglicher Haftung, sollten TeilnehmerInnen diese Regel umgehen.</p>

        <h2 id="q3">Zeitlicher Ablauf</h2>
        <ul>
            <li>Vorspeise: 18:00 bis 19:30 Uhr</li>
            <li>Hauptgericht: 19:30 bis 21:30 Uhr</li>
            <li>Nachtisch: 21:30 Uhr</li>
            <li>Gemeinsame Party in einem Club in Karlsruhe ab 23:00 Uhr</li>
        </ul>

        <h2 id="q4">Sind die Zeiten fest vorgegeben?</h2>
        <p>Jaein. Kleinere Verspätungen gibt's natürlich immer - sprecht das notfalls mit euren Gästen ab. Vor allem aber bezüglich der Party: Ihr könnt gerne auch erst später dazu stoßen. Doors open eben</p>

        <h2 id="q5">Party am 21.06.2017 ab 23 Uhr in einem Club in Karlsruhe</h2>
        <p>Nach dem Essen ist vor der Party! Mit allen gut gesättigten Teilnehmern von Schlemmen Ohne Grenzen, geht es dann in einen Club in Karlsruhe. Die Location wird im Laufe des Abends bekanntgegeben. Natürlich sind alle Gäste willkommen, nicht nur unsere Schlemmer. Ihr erhaltet aber freien Eintritt!</p>

        <h2 id="q6">Wie wird entschieden, mit welchen anderen WGs wir den Abend verbringen?</h2>
        <p>Die zufällige Zuteilung wird von uns übernommen. Wir bemühen uns, dass die Partner WGs möglichst nah an eurer eigenen WG liegen und ihr kein Team zwei Mal sehen werdet. Also möglichst wenig Stress und möglichst viel Spaß :-)</p>

        <h2 id="q7">Welche Informationen erhalten wir nach der Bezahlung der Teilnahmegebühr und wann?</h2>
        <p>Nach der Anmeldung müsst ihr noch die Teilnahmegebühr bezahlen. Am Dienstag, den 20.06.2017, erhaltet ihr früh am Morgen dann eine Email von uns, die u.a. folgende Informationen beinhaltet: Partner WGs mit Kontaktdaten; ob ihr Vor- , Haupt- oder Nachspeise zubereiten müsst, etc.</p>

        <h2 id="q8">Wer muss was zubereiten? Wer zahlt die Zutaten?</h2>
        <p>Was ihr kocht ist euch natürlich selbst überlassen. Ob ihr die Vor-,Haupt- oder Nachspeise zubereitet, losen wir aus und teilen es euch dann, in einer Email mit.</p>
        <p>Generell gilt, die einladende WG zahlt die Zutaten. Weil die Vorspeise und Nachspeise wahrscheinlich günstiger ist, haben wir die Regel eingeführt, dass die WGs, die zur Hauptspeise zu Besuch kommen, Getränke mitbringen muss. Wie ihr das regelt ist euch überlassen entweder ihr bringt einfach gleich 2 Flaschen Vodka mit, oder ihr verständigt euch vorher welcher Wein zum Rotbarsch passt.</p>

        <h2 id="q9">Aus unserer WG isst mindestens eine Person kein Fleisch, hat eine Milchallergie etc.!</h2>
        <p>Das könnt ihr bei der Anmeldung angeben. Die WGs, die euch zugelost werden erhalten diese Information in einer Email und sind angehalten, dies bei der Zubereitung der Gerichte zu berücksichtigen.</p>

        <h2 id="q10">Wie melden wir uns an?</h2>
        <p>Bis spätestens 19.06.2017 19 Uhr könnt ihr euch anmelden.</p>

        <h2 id="q14">Wie viele Personen kommen zu uns zum Essen?</h2>
        <p>Pro Essen sind es jeweils 6 Personen.</p>

        <h2 id="q15">Was passiert, wenn wir kurzfristig nicht teilnehmen können, weil wir krank sind etc.?</h2>
        <p>Solltet ihr nicht teilnehmen können <script type="application/javascript">document.write("<a href='mail"+"to:"+"hallo"+"&#64;"+"schlemmen"+"-"+"ohne"+"-"+"grenzen"+"&#46;"+"de"+"'>teilt uns das bitte sofort per E-Mail mit</a>")</script>! Wir versuchen für eure Partner WGs eine Lösung zu finden.</p>
        <noscript>Bitte aktiviere Javascript um die Adresse zu sehen</noscript>

        <h2 id="q16">Teilnahmegebühr? Wofür zahlen wir?</h2>
        <p>Wir, die Hochschulgruppe von Studieren ohne Grenzen haben keine Mühe gescheut, diesen Abend zu organisieren. Das bekannte Konzept musste neu überdacht werden, die Homepage wurde programmiert und designed, DJs mussten gesucht werden, Sponsoren wurden angefragt, die Flyer wurden entworfen, gedruckt und verteilt und vieles, vieles mehr. Das machen wir natürlich ehrenamtlich. Keiner von uns wird bezahlt, aber mit der geringen Anmeldegebühr unterstützt ihr die Tätigkeit des Vereins und ermöglicht Studenten aus Krisenregionen ein Studium.</p>

        <h2 id="q17">Wer oder was ist Studieren ohne Grenzen?</h2>
        <p><a href="http://www.studieren-ohne-grenzen.org/">Studieren Ohne Grenzen</a> wurde (als Ableger der französischen Organisation Etudes Sans Frontieres) im Oktober 2006 von Tübinger und Konstanzer Studierenden ins Leben gerufen. Seitdem ist SOG bis heute auf über 1000 Freiwillige angewachsen, die sich an immer mehr Universitätsstandorten in Deutschland für Studierende in Krisen- bzw. ehemaligen Kriegsregionen engagieren.</p>

        <p>Mit unserem Stipendienprogramm <a href="http://www.studieren-ohne-grenzen.org/projekt-tschetschenien" target="_blank">Tschetschenien</a> laden wir tschetschenische Studierende für ein Studium nach Deutschland ein: Ada, die in Tschetschenien ein Jugendzentrum errichten möchte, studiert Politikwissenschaften in Tübingen. Zalina ist ebenfalls in Tübingen und absolviert dort den Masterstudiengang Informatik. Ihr Ziel ist es, das so gewonnene Wissen an der Hochschule in Grosny weiterzugeben und damit dem Fachkräftemangel in diesem Bereich entgegenzuwirken. Mehr Informationen über die tschetschenischen Stipendiaten findet ihr <a href="http://www.studieren-ohne-grenzen.org/projekt-tschetschenien/76-tschetschenien-stipendiaten" target="blank">hier</a>.</p>

        <p>Im Stipendienprogramm <a href="http://www.studieren-ohne-grenzen.org/de/projekte" target="_blank">Kongo</a> befinden sich zur Zeit <a href="http://www.studieren-ohne-grenzen.org/de/projekte" target="_blank">72 Studierende</a>, die sich schon während ihres Studiums sozial engagieren. Zu diesem sozialen Engagement gehören unter anderem Alphabetisierungskurse, Gründung eines Kinder- und Jugendparlaments, Information der Menschen über moderne landwirtschaftliche Anbaumethoden oder z.B. das Unterrichten von vernachlässigten Kindern im Bereich der hygienischen Grundregeln.</p>

        <p>Was uns besonders macht, ist,
        <ul>
            <li>dass wir uns auf Orte konzentrieren, die im öffentlichen Bewusstsein oft vergessen sind und nach dem Krieg mühsam wieder aufgebaut werden müssen. Während sich große Entwicklungsorganisationen dort meist auf humanitäre Hilfe konzentrieren, denken wir, dass diese Regionen gerade junge qualifizierte Kräfte brauchen, die durch ihre Projekte zum Wiederaufbau beitragen können.</li>
            <li>dass wir eine motivierte, junge Menschen fördern, die die Probleme ihrer Heimat selbst in die Hand nehmen wollen.</li>
            <li>dass Studierende Studierenden helfen.</li>
        </ul></p>

        <h2 id="q22">Unsere Frage ist hier nicht aufgelistet!</h2>
        <p>Ihr habt weitere Fragen? <script type="application/javascript">document.write("<a href='mail"+"to:"+"hallo"+"&#64;"+"schlemmen"+"-"+"ohne"+"-"+"grenzen"+"&#46;"+"de"+"'>Schickt uns eine Mail!</a>")</script></p>
        <noscript>Bitte aktiviere Javascript um die Adresse zu sehen</noscript>
    </div>
</section>
{% endblock %}
