{% if signupEnabled %}
<section class="anmelden" id="anmelden">
    <div class="container">
        <h2>Anmelden</h2>
        <p>Die Anmeldung ist bis Dienstag, den 24. April 12:00 Uhr offen!</p>
        <form id="contactForm" action="{% url 'frontend:index' %}#anmelden" method="post">
          {% csrf_token %}
          <div class="formBox">
            <div class="row">
              <div class="col-md-6">
                <h3><i class="fa fa-user"></i>Du</h3>
                  {% if form.name1.errors %}
                    <div class="form-group has-danger">
                      {{ form.name1 }}
                      <div class="form-control-feedback">{{ form.name1.errors }}</div>
                    </div>
                  {% else %}
                    {{ form.name1 }}
                  {% endif %}

                  {% if form.handy1.errors %}
                    <div class="form-group has-danger">
                      {{ form.handy1 }}
                      <div class="form-control-feedback">{{ form.handy1.errors }}</div>
                    </div>
                  {% else %}
                    {{ form.handy1 }}
                  {% endif %}

                  {% if form.email1.errors %}
                    <div class="form-group has-danger">
                      {{ form.email1 }}
                      <div class="form-control-feedback">{{ form.email1.errors }}</div>
                    </div>
                  {% else %}
                    {{ form.email1 }}
                  {% endif %}
              </div>
              <div class="col-md-6">
                <h3><i class="fa fa-users"></i>Dein Teampartner</h3>
                {% if form.name2.errors %}
                    <div class="form-group has-danger">
                      {{ form.name2 }}
                      <div class="form-control-feedback">{{ form.name2.errors }}</div>
                    </div>
                  {% else %}
                    {{ form.name2 }}
                  {% endif %}

                  {% if form.handy2.errors %}
                    <div class="form-group has-danger">
                      {{ form.handy2 }}
                      <div class="form-control-feedback">{{ form.handy2.errors }}</div>
                    </div>
                  {% else %}
                    {{ form.handy2 }}
                  {% endif %}

                  {% if form.email2.errors %}
                    <div class="form-group has-danger">
                      {{ form.email2 }}
                      <div class="form-control-feedback">{{ form.email2.errors }}</div>
                    </div>
                  {% else %}
                    {{ form.email2 }}
                  {% endif %}
              </div>
            </div>
        </div>
        <button class="btn btn-primary signup-next-button pull-right" type="submit">
          <i class="fa fa-chevron-right" aria-hidden="true"></i>
          Nächster Schritt
        </button>
      </form>
  </div>
</section>
{% else %}
<section class="anmelden" id="anmelden">
  <div class="container">
    <h2>Anmeldung leider schon geschlossen</h2>
    Dieses Mal seid ihr leider ein kleines bisschen zu spät dran. Damit ihr aber das nächste Schlemmen nicht verpasst, tragt euch auf den Newsletter ein!
    <br>
    Meldet euch dazu einfach kurz bei uns per Mail! Siehe <a href="#contakt">Kontakt</a>
  </div>
</section>
{% endif %}
