{% if signupEnabled %}
<section class="anmelden" id="anmelden">
    <div class="container">
        <h2>Anmelden</h2>
        <p>Die Anmeldung ist bis Montag, den 19. Juni 19:00 Uhr offen! Update: Wir brauchen noch ein Team - dann geht's auf! Anmeldung ist noch offen!</p>
        <form id="contactForm" action="{% url 'frontend:index' %}#anmelden" method="post">
          {% csrf_token %}
          <div class="formBox">
            <div class="row">
              <div class="col-md-6">
                <h3>Du</h3>
                  {% if form.name1.errors %}
                    <div class="form-group has-danger">
                      {{ form.name1 }}
                      <div class="form-control-feedback">{{ form.name1.errors }}</div>
                    </div>
                  {% else %}
                    {{ form.name1 }}
                  {% endif %}

                  {% if form.handy1.errors %}
                    <div class="form-group has-danger">
                      {{ form.handy1 }}
                      <div class="form-control-feedback">{{ form.handy1.errors }}</div>
                    </div>
                  {% else %}
                    {{ form.handy1 }}
                  {% endif %}

                  {% if form.email1.errors %}
                    <div class="form-group has-danger">
                      {{ form.email1 }}
                      <div class="form-control-feedback">{{ form.email1.errors }}</div>
                    </div>
                  {% else %}
                    {{ form.email1 }}
                  {% endif %}
                <div class="form-check">
                    <label class="form-check-label">
                        {{ form.newsletter1 }} Ich will den Newsletter (Termin fürs nächste Schlemmen)
                    </label>
                </div>
              </div>
              <div class="col-md-6">
                <h3>Dein Teampartner</h3>
                {% if form.name2.errors %}
                    <div class="form-group has-danger">
                      {{ form.name2 }}
                      <div class="form-control-feedback">{{ form.name2.errors }}</div>
                    </div>
                  {% else %}
                    {{ form.name2 }}
                  {% endif %}

                  {% if form.handy2.errors %}
                    <div class="form-group has-danger">
                      {{ form.handy2 }}
                      <div class="form-control-feedback">{{ form.handy2.errors }}</div>
                    </div>
                  {% else %}
                    {{ form.handy2 }}
                  {% endif %}

                  {% if form.email2.errors %}
                    <div class="form-group has-danger">
                      {{ form.email2 }}
                      <div class="form-control-feedback">{{ form.email2.errors }}</div>
                    </div>
                  {% else %}
                    {{ form.email2 }}
                  {% endif %}
                <div class="form-check">
                    <label class="form-check-label">
                        {{ form.newsletter2 }} Mein Teampartner will ihn auch!
                    </label>
                </div>
              </div>
            </div>
            <h2>Hier wird bei uns gekocht...</h2>
            <div class="row">
              <div class="col-md-6">
                {% if form.plz.errors %}
                    <div class="form-group has-danger">
                      {{ form.plz }}
                      <div class="form-control-feedback">{{ form.plz.errors }}</div>
                    </div>
                  {% else %}
                    {{ form.plz }}
                  {% endif %}
              </div>
              <div class="col-md-6">
                {% if form.street.errors %}
                    <div class="form-group has-danger">
                      {{ form.street }}
                      <div class="form-control-feedback">{{ form.street.errors }}</div>
                    </div>
                  {% else %}
                    {{ form.street }}
                  {% endif %}
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <h2>Nachricht an eure Gastgeber</h2>
                {{ form.note }}
              </div>
            </div>
          <h2>Startbeitrag</h2>
          <p>Mit 4€ pro Person unterstützt ihr unsere Arbeit, engagierte Studierende in Krisen- und Kriegsgebieten zu fördern.</p>
          <div class="row">
              <div class="col-md-6">
                  <h3><i class="fa fa-credit-card" aria-hidden="true"></i> Per Lastschrift</h3>
                  {% if form.kontoinhaber.errors %}
                    <div class="form-group has-danger">
                      {{ form.kontoinhaber }}
                      <div class="form-control-feedback">{{ form.kontoinhaber.errors }}</div>
                    </div>
                  {% else %}
                    {{ form.kontoinhaber }}
                  {% endif %}

                  {% if form.kontoinhaber_street.errors %}
                    <div class="form-group has-danger">
                      {{ form.kontoinhaber_street }}
                      <div class="form-control-feedback">{{ form.kontoinhaber_street.errors }}</div>
                    </div>
                  {% else %}
                    {{ form.kontoinhaber_street }}
                  {% endif %}

                  {% if form.kontoinhaber_city.errors %}
                  <div class="form-group has-danger">
                    {{ form.kontoinhaber_city }}
                    <div class="form-control-feedback">{{ form.kontoinhaber_city.errors }}</div>
                  </div>
                  {% else %}
                  {{ form.kontoinhaber_city }}
                  {% endif %}

                  {% if form.iban.errors %}
                    <div class="form-group has-danger">
                      {{ form.iban }}
                      <div class="form-control-feedback">{{ form.iban.errors }}</div>
                    </div>
                  {% else %}
                    {{ form.iban }}
                  {% endif %}

                  {% if form.bic.errors %}
                    <div class="form-group has-danger">
                      {{ form.bic }}
                      <div class="form-control-feedback">{{ form.bic.errors }}</div>
                    </div>
                  {% else %}
                    {{ form.bic }}
                  {% endif %}
              </div>
              <div class="col-md-6">
                  <h3><i class="fa fa-money" aria-hidden="true"></i> Bar vorbeibringen</h3>
                  <p>Ihr könnt den Startbeitrag auch jeden Dienstag ab 19:30 in unseren wöchentlichen Treffen auf dem Campus der FH, Gebäude A (bibliothek), Raum 111 vorbeibringen. Bitte spätestens am 20. Juni.</p>
                  <div class="form-check">
                    <label class="form-check-label">
                        {{ form.personal_payment }} Ich möchte den Startbeitrag persönlich vorbeibringen!
                    </label>
                  </div>
              </div>
          </div>
          <div class="row" style="margin-top: 8em">
              <div class="col-md-12">
                  {% if form.captcha.errors %}
                    <div class="form-group has-danger">
                      <label for="{{ form.captcha.id_for_label }}">Spamschutz: In welcher Stadt findet Schlemmen Ohne Grenzen statt?</label>
                      {{ form.captcha }}
                      <div class="form-control-feedback">{{ form.captcha.errors }}</div>
                    </div>
                  {% else %}
                    <div class="form-group">
                      <label for="{{ form.captcha.id_for_label }}">Spamschutz: In welcher Stadt findet Schlemmen Ohne Grenzen statt?</label>
                      {{ form.captcha }}
                    </div>
                  {% endif %}
                  <div class="form-check">
                    <label class="form-check-label">
                        {{ form.accepted_tos }} Wir akzeptieren die <a href="{% url 'frontend:bedingungen' %}" target="_blank">Datenschutzerklärung &amp; rechtliche Bedingungen</a>.
                    </label>
                  </div>
                  <button class="btn btn-success" type="submit">
                      <i class="fa fa-paper-plane" aria-hidden="true"></i>
                      Schmeiß den Herd an!
                  </button>
              </div>
          </div>
        </div>
      </form>
  </div>
</section>
{% else %}
<section class="anmelden" id="anmelden">
  <div class="container">
    <h2>Anmeldung leider schon geschlossen</h2>
    Dieses Mal seid ihr leider ein kleines bisschen zu spät dran. Damit ihr aber das nächste Schlemmen nicht verpasst, tragt euch auf den Newsletter ein!
    <br>
    Meldet euch dazu einfach kurz bei uns per Mail! Siehe <a href="#kontakt">Kontakt</a>
  </div>
</section>
{% endif %}
