{% extends "frontend/base_portal.html" %}
{% load static %}

{% block content %}
<section>
  <div class="container">
    <h1>Tipps</h1>
    <p>Hier erscheinen mit Beginn eines jeden Ganges Tipps zu eurem Rätsel. Euere Rätsel-ID steht am Anfang der der Text-pdf-Datei.</p>
  </div>  
</section>
{% for hilfe in hilfen %}
    <section style="background-color: {{ hilfe.color }};">
        <div class="container">
                <div class="hilfe">
                    <h2>{{ hilfe.title }}</h2>
                    <p>
                    {% for puzzle in hilfe.puzzles %}
                        <a class="btn btn-primary" data-toggle="collapse" href="#{{ puzzle.id }}" aria-expanded="false" aria-controls="{{ puzzle.id }}">{{ puzzle.title }}</a>
                    {% endfor %}
                    {% for puzzle in hilfe.puzzles %}
                        <div class="collapse" id="{{ puzzle.id }}">
                            <p>{{ puzzle.text }}</p>
                        </div>
                    {% endfor %}
                    </p>
                </div>
        </div>
    </section>
{% endfor %}

    <script src="{% static 'frontend/js/jquery.min.js' %}"></script>
    <script src="{% static 'frontend/js/tether.min.js' %}"></script>
    <script src="{% static 'frontend/js/bootstrap.min.js' %}"></script>

{% endblock %}
