{% extends "frontend/base_portal.html" %}
{% load static %}

{% block content %}
{% for hilfe in hilfen %}
    <section style="background-color: {{ hilfe.color }};">
        <div class="container">
                <div class="hilfe">
                    <h2>{{ hilfe.title }}</h2>
                    <p>{{ hilfe.text }}</p>
                </div>
        </div>
    </section>
{% endfor %}

    <script src="{% static 'frontend/js/jquery.min.js' %}"></script>
    <script src="{% static 'frontend/js/tether.min.js' %}"></script>
    <script src="{% static 'frontend/js/bootstrap.min.js' %}"></script>

{% endblock %}
