{% load static %}
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Etudes Sans Frontières - Studieren Ohne Grenzen Deutschland e.V.">

    <title>Schlemmen ohne Grenzen</title>

    <link href="{% static 'frontend/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link rel="stylesheet" href="{% static 'frontend/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'frontend/css/simple-line-icons.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'frontend/css/new-age.min.css' %}" rel="stylesheet">
    <link href="{% static 'frontend/css/schlemmen.css' %}" rel="stylesheet">
</head>

<body id="page-top">

    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-toggleable-md navbar-light" id="mainNav">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarExample" aria-controls="navbarExample" aria-expanded="false" aria-label="Toggle navigation">
            Menu <i class="fa fa-bars"></i>
        </button>
        <div class="container">
            <a class="navbar-brand" href="#anmelden">Anmelden!</a>
            <div class="collapse navbar-collapse" id="navbarExample">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#einleitung">Einleitung</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#infos">Infos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about-us">Über uns</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <header class="masthead">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="header-content">
                        <div class="header-content-inner">
                            <img src="{% static 'frontend/img/header_funk.png' %}" class="header_logo">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section class="download bg-primary" id="einleitung">
        <div class="container bigger-text">
            <h2>Schlemmt euch durch Karlsruhe, habt Spaß und knackt das Rätsel!</h2>
            <div class="row">
                <div class="col-md-8">
                    <p>Alles steht bereit, der Tisch ist bereits gedeckt. Nichts steht einem tollen Abend in der Karlsruher Oberschicht mehr im Weg.</p>
                    <p>
                        Doch etwas stimmt nicht und ihr alle seid euch sicher, dass dies kein Zufall sein kann. Ihr seid nicht zufällig zusammen gekommen. Jemand hat euch aus einem ganz bestimmten Grund eingeladen...
                    </p>
                </div>
                <div class="col-md-4">
                    <img src="{% static 'frontend/img/map.png' %}" style="width: 100%; height: auto; max-width: 500px">
                </div>
            </div>
        </div>
    </section>

    <section class="info" id="infos">
        <div class="container">
            <div class="section-heading">
                <h2>Kurz und knapp</h2>
                <p class="text-muted">Schlemmen Ohne Grenzen folgt der Idee von Running Dinner - inzwischen schon zum siebten Mal in Karlsruhe! Dieses Mal erwartet euch aber etwas etwas ganz Neues! Schlemmt euch durch die Stadt und knackt dabei gemeinsam das Rätsel um den geheimnisvollen Bekannten...</p>
            </div>
            <div class="row row-with-margin">
                <div class="col-sm-2">
                    <i class="fa fa-cutlery fa-5x"></i>
                </div>
                <div class="col-sm-10">
                    <h3>Ihr kocht...</h3>
                    <p>Schnapp dir eine Freundin/einen Freund - zu zweit seid ihr ein Team und kocht gemeinsam in eurer WG einen Gang. Damit die Wege kurz halten können: Per Fahrrad vom Marktplatz zu eurer WG in maximal 20min</p>
                </div>
            </div>
            <div class="row row-with-margin">
              <div class="col-sm-2">
                  <i class="fa fa-users fa-5x"></i>
              </div>
              <div class="col-sm-10">
                  <h3>Ihr schlemmt...</h3>
                  <p>Bei den zwei anderen Gängen seid ihr in WGs in eurer Nachbarschaft zu Gast. Jedes Mal mit anderen Leuten.</p>
              </div>
            </div>
            <div class="row row-with-margin">
              <div class="col-sm-2">
                  <i class="fa fa-question fa-5x"></i>
              </div>
              <div class="col-sm-10">
                  <h3>Ihr jagt...</h3>
                  <p>Folgt der Story um den myteriösen Bekannten durch die Stadt! Bei jedem Gang müsst ihr zusammen arbeiten, um das Rätsel zu knacken. Schafft ihr es, ihn in Karlsruhe zu finden?</p>
              </div>
            </div>
            <div class="row row-with-margin">
              <div class="col-sm-2">
                  <i class="fa fa-glass fa-5x"></i>
              </div>
              <div class="col-sm-10">
                  <h3>Wir feiern!</h3>
                  <p>Zum Abschluss gehen wir alle gemeinsam feiern! Der Club wird noch bekannt gegeben.</p>
              </div>
            </div>
            <div class="row row-with-margin text-center">
              <div class="col-sm-12">
                <a class="btn btn-info" href="http://schlemmen-ka.s-o-g.org/index.php?page=infos">Noch Fragen?</a>
              </div>
            </div>
        </div>
    </section>

    <section class="cta">
        <div class="cta-content">
            <div class="container">
                <h2>Für den <br> guten Zweck.<br>Schlemmen für Sri Lanka.</h2>
                <a href="#contact" class="btn btn-outline btn-xl">Mehr herausfinden</a>
            </div>
        </div>
        <div class="overlay"></div>
    </section>

    <section class="anmelden" id="anmelden">
        <div class="container">
            <h2>Anmelden</h2>
            <form id="contactForm" class="hidden-labels dropzone dz-clickable" action="{% url 'frontend:index' %}#anmelden" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="formBox">
                <div class="row">
                  <div class="col-md-6">
                    <h3>Teammitglied 1</h3>
                      {% if form.name1.errors %}
                        <div class="form-group has-danger">
                          {{ form.name1 }}
                          <div class="form-control-feedback">{{ form.name1.errors }}</div>
                        </div>
                      {% else %}
                        {{ form.name1 }}
                      {% endif %}

                      {% if form.handy1.errors %}
                        <div class="form-group has-danger">
                          {{ form.handy1 }}
                          <div class="form-control-feedback">{{ form.handy1.errors }}</div>
                        </div>
                      {% else %}
                        {{ form.handy1 }}
                      {% endif %}

                      {% if form.email1.errors %}
                        <div class="form-group has-danger">
                          {{ form.email1 }}
                          <div class="form-control-feedback">{{ form.email1.errors }}</div>
                        </div>
                      {% else %}
                        {{ form.email1 }}
                      {% endif %}
                    <div class="form-check">
                        <label class="form-check-label">
                            {{ form.newsletter1 }} Ich will den Newsletter (Termin fürs nächste Schlemmen)
                        </label>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <h3>Teammitglied 2</h3>
                    {% if form.name2.errors %}
                        <div class="form-group has-danger">
                          {{ form.name2 }}
                          <div class="form-control-feedback">{{ form.name2.errors }}</div>
                        </div>
                      {% else %}
                        {{ form.name2 }}
                      {% endif %}

                      {% if form.handy2.errors %}
                        <div class="form-group has-danger">
                          {{ form.handy2 }}
                          <div class="form-control-feedback">{{ form.handy2.errors }}</div>
                        </div>
                      {% else %}
                        {{ form.handy2 }}
                      {% endif %}

                      {% if form.email2.errors %}
                        <div class="form-group has-danger">
                          {{ form.email2 }}
                          <div class="form-control-feedback">{{ form.email2.errors }}</div>
                        </div>
                      {% else %}
                        {{ form.email2 }}
                      {% endif %}
                    <div class="form-check">
                        <label class="form-check-label">
                            {{ form.newsletter2 }} Mein Teampartner will ihn auch!
                        </label>
                    </div>
                  </div>
                </div>
                <h2>Hier wird bei uns gekocht...</h2>
                <div class="row">
                  <div class="col-md-6">
                    {% if form.plz.errors %}
                        <div class="form-group has-danger">
                          {{ form.plz }}
                          <div class="form-control-feedback">{{ form.plz.errors }}</div>
                        </div>
                      {% else %}
                        {{ form.plz }}
                      {% endif %}
                  </div>
                  <div class="col-md-6">
                    {% if form.street.errors %}
                        <div class="form-group has-danger">
                          {{ form.street }}
                          <div class="form-control-feedback">{{ form.street.errors }}</div>
                        </div>
                      {% else %}
                        {{ form.street }}
                      {% endif %}
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <h2>Nachricht an eure Gastgeber</h2>
                    {{ form.note }}
                  </div>
                </div>
              <h2>Startbeitrag</h2>
              <p>Mit 4€ pro Person unterstützt ihr unsere Arbeit, engagierte Studierende in Krisen- und Kriegsgebieten zu fördern.</p>
              <div class="row">
                  <div class="col-md-6">
                      <h3><i class="fa fa-credit-card" aria-hidden="true"></i> Per Lastschrift</h3>
                      {% if form.kontoinhaber.errors %}
                        <div class="form-group has-danger">
                          {{ form.kontoinhaber }}
                          <div class="form-control-feedback">{{ form.kontoinhaber.errors }}</div>
                        </div>
                      {% else %}
                        {{ form.kontoinhaber }}
                      {% endif %}

                      {% if form.iban.errors %}
                        <div class="form-group has-danger">
                          {{ form.iban }}
                          <div class="form-control-feedback">{{ form.iban.errors }}</div>
                        </div>
                      {% else %}
                        {{ form.iban }}
                      {% endif %}

                      {% if form.bic.errors %}
                        <div class="form-group has-danger">
                          {{ form.bic }}
                          <div class="form-control-feedback">{{ form.bic.errors }}</div>
                        </div>
                      {% else %}
                        {{ form.bic }}
                      {% endif %}
                  </div>
                  <div class="col-md-6">
                      <h3><i class="fa fa-money" aria-hidden="true"></i> Bar vorbeibringen</h3>
                      <p>Falls ihr Bedenken habt eure Kontodaten einzugeben könnt ihr den Startbeitrag auch jeden Dienstag ab 19:30 in unseren wöchentlichen Treffen im Campus der FH, Gebäude A, Raum 111 bezahlen.</p>
                      <div class="form-check">
                        <label class="form-check-label">
                            {{ form.personal_payment }} Ich möchte den Startbeitrag persönlich vorbeibringen!
                        </label>
                      </div>
                  </div>
              </div>
              <div class="row" style="margin-top: 8em">
                  <div class="col-md-12">
                      {% if form.captcha.errors %}
                        <div class="form-group has-danger">
                          <label for="{{ form.captcha.id_for_label }}">Spamschutz: In welcher Stadt findet Schlemmen Ohne Grenzen statt?</label>
                          {{ form.captcha }}
                          <div class="form-control-feedback">{{ form.captcha.errors }}</div>
                        </div>
                      {% else %}
                        <div class="form-group">
                          <label for="{{ form.captcha.id_for_label }}">Spamschutz: In welcher Stadt findet Schlemmen Ohne Grenzen statt?</label>
                          {{ form.captcha }}
                        </div>
                      {% endif %}
                      <div class="form-check">
                        <label class="form-check-label">
                            {{ form.accepted_tos }} Wir akzeptieren die Datenschutzerklärung.
                        </label>
                      </div>
                      <button class="btn btn-success" type="submit">
                          <i class="fa fa-paper-plane" aria-hidden="true"></i>
                          Schmeiß den Herd an!
                      </button>
                  </div>
              </div>
            </div>
          </form>
      </div>
    </section>

    <section class="contact bg-primary" id="about-us">
        <div class="container">
            <img src="{% static 'frontend/img/gruppenbild.jpg' %}" class="polaroid-style medium-image" style="margin-bottom: 30px">
            <h2>We <i class="fa fa-heart"></i> new friends!</h2>
            <p>Bock, was in der Welt zu verändern? Für uns ist Bildung eine Waffe - eine Waffe gegen Diktaturen, Korruption, Armut und Hunger! Komm einfach vorbei und organisiere das nächste Schlemmen Ohne Grenzen zusammen mit uns!</p>
            <br>
            <a href="http://karlsruhe.s-o-g.org/" class="btn btn-info">Schau vorbei!</a>
            <br>
            <img src="{% static 'frontend/img/logo.svg' %}" class="small-image">
        </div>
    </section>

    <footer>
        <div class="container">
            <ul class="list-inline list-social">
                <li class="list-inline-item social-twitter">
                    <a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li class="list-inline-item social-facebook">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li class="list-inline-item social-google-plus">
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                </li>
            </ul>
            <p>&copy; 2017 Studieren Ohne Grenzen. All Rights Reserved. Background by <a href="https://www.flickr.com/photos/138248475@N03/23906675105">John Voo</a>(CC By 2.0)</p>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a href="#">Privacy</a>
                </li>
                <li class="list-inline-item">
                    <a href="#">Terms</a>
                </li>
                <li class="list-inline-item">
                    <a href="#">FAQ</a>
                </li>
            </ul>
        </div>
    </footer>

    <script src="{% static 'frontend/js/jquery.min.js' %}"></script>
    <script src="{% static 'frontend/js/tether.min.js' %}"></script>
    <script src="{% static 'frontend/js/bootstrap.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'frontend/js/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'frontend/js/new-age.min.js' %}"></script>

</body>
</html>
