{% extends "frontend/base.html" %}
{% load static %}
{% block navbar %}
    <nav class="navbar fixed-top navbar-toggleable-md navbar-light" id="mainNav">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarExample" aria-controls="navbarExample" aria-expanded="false" aria-label="Toggle navigation">
            Menu <i class="fa fa-bars"></i>
        </button>
        <div class="container">
            <a class="navbar-brand" href="{% url 'frontend:index' %}#anmelden">Anmelden!</a>
            <div class="collapse navbar-collapse" id="navbarExample">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'frontend:index' %}#einleitung">Einleitung</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'frontend:index' %}#infos">Infos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'frontend:index' %}#about-us">Über uns</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'frontend:index' %}#contact">Kontakt</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}
{% block content %}
    <header class="masthead">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="header-content">
                        <div class="header-content-inner">
                            <img src="{% static 'frontend/img/header_funk.png' %}" class="header_logo" alt="Schlemmen Ohne Grenzen Logo" srcset="{% static 'frontend/img/header_funk.png' %} 1920w, {% static 'frontend/img/header_funk_1000.png' %} 1000w, {% static 'frontend/img/header_funk_600.png' %} 600w">
                            <br>
                            <h2>Jetzt aber schnell! <br>Noch bis 19. um 19 Uhr anmelden!</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section class="download bg-primary" id="einleitung">
        <div class="container bigger-text">
            <h2>Schlemmt euch durch Karlsruhe, habt Spaß und knackt das Rätsel!</h2>
            <h3 style="margin-top: 3%">21. Juni um 18:00 Uhr geht's los! Die Anmeldung ist bis zum 19. Juni möglich!</h3>
            <div class="row">
                <div class="col-md-8">
                    <p>Alles steht bereit, der Tisch ist schon gedeckt. Nichts steht einem tollen Abend in der Karlsruher High Society mehr im Weg.</p>
                    <p>
                        Doch etwas stimmt nicht und ihr seid alle euch sicher, dass dies kein Zufall sein kann... Ihr seid nicht zufällig zusammen gekommen. Jemand hat euch aus einem ganz bestimmten Grund eingeladen...
                    </p>
                </div>
                <div class="col-md-4">
                    <img src="{% static 'frontend/img/map.png' %}" style="width: 100%; height: auto; max-width: 500px">
                </div>
            </div>
        </div>
    </section>

    <section class="info" id="infos">
        <div class="container">
            <div class="section-heading">
                <h2>Kurz und knapp</h2>
                <p class="text-muted">Schlemmen Ohne Grenzen folgt der Idee von Running Dinner - inzwischen schon zum siebten Mal in Karlsruhe! Dieses Mal erwartet euch aber etwas ganz Neues! Schlemmt euch durch die Stadt und knackt dabei gemeinsam das Rätsel um das geheimnisvolle Dinner...</p>
            </div>
            <div class="row row-with-margin">
                <div class="col-sm-2">
                    <i class="fa fa-cutlery cutlery-size"></i>
                </div>
                <div class="col-sm-10">
                    <h3>Ihr kocht...</h3>
                    <p>Schnapp dir eine Freundin/einen Freund - zu zweit seid ihr ein Team und kocht gemeinsam in eurer WG einen Gang. Damit die Wege kurz halten können: Per Fahrrad vom Marktplatz zu eurer WG in maximal 20min</p>
                </div>
            </div>
            <div class="row row-with-margin">
              <div class="col-sm-2">
                  <i class="fa fa-users users-size"></i>
              </div>
              <div class="col-sm-10">
                  <h3>Ihr schlemmt...</h3>
                  <p>Bei den zwei anderen Gängen seid ihr in WGs in eurer Nachbarschaft zu Gast. Jedes Mal mit anderen Leuten.</p>
              </div>
            </div>
            <div class="row row-with-margin">
              <div class="col-sm-2 remove-top">
                  <i class="fa fa-question question-size"></i>
              </div>
              <div class="col-sm-10">
                  <h3>Ihr jagt...</h3>
                  <p>Folgt der Story um das mysteriöse Dinner durch die Stadt! Bei jedem Gang müsst ihr zusammen arbeiten, um das Rätsel zu knacken. Schafft ihr es, das Mysterium zu entschlüsseln?</p>
              </div>
            </div>
            <div class="row row-with-margin">
              <div class="col-sm-2">
                  <i class="fa fa-glass glass-size"></i>
              </div>
              <div class="col-sm-10">
                  <h3>Wir feiern!</h3>
                  <p>Der Fall gelöst, die Mägen voll, die Stimmung auf dem Höhepunkt - gemeinsam geht's nun in die Stadtmitte feiern. Natürlich mit freiem Eintritt für alle Schlemmer!</p>
              </div>
            </div>
            <div class="row row-with-margin text-center">
              <div class="col-sm-12">
                <a class="btn btn-info" href="{% url 'frontend:faq' %}">Noch Fragen?</a>
              </div>
            </div>
        </div>
    </section>

    <section class="cta">
        <div class="cta-content">
            <div class="container">
                <h2>Für den <br> guten Zweck.<br>Schlemmen für Sri Lanka.</h2>
                <a href="https://www.studieren-ohne-grenzen.org/projekte/sri-lanka/hintergrund/" class="btn btn-outline btn-xl">Mehr herausfinden</a>
            </div>
        </div>
        <div class="overlay"></div>
    </section>

    <section class="gewinnen">
        <div class="gewinnen-content">
            <div class="container">
                <h2>Belohnung!</h2>
                <p>Die Karlsruher High Society des hat eine Belohnung für die Klärung des Falls ausgesetzt!</p>
                <p>
                  Löst ihr den Fall, habt ihr die Chance einen Gutschein für die Adventurebox Karlsruhe zu gewinnen.
                  <br>
                  Dann geht's für euch gemeinsam mit den Leuten vom letzten Gang auf ein weiteres Abenteuer!
                </p>
                <a href="http://adventurebox-karlsruhe.de" target="_blank" class="btn btn-outline btn-xl">Zur Adventurebox Karlsruhe Website</a>
            </div>
        </div>
        <div class="overlay"></div>
    </section>

    {% include "frontend/form.html" %}

    <section class="contact bg-primary" id="about-us">
        <div class="container">
          <h2>We <i class="fa fa-heart"></i> new friends!</h2>
          <div class="row">
            <div class="col-lg-6">
              <img src="{% static 'frontend/img/logo_sog.png' %}" class="small-image-by-height">
              <p>Bock, was in der Welt zu verändern? Für uns ist Bildung eine Waffe - eine Waffe gegen Diktaturen, Korruption, Armut und Hunger!</p>
              <p style="font-style: italic">Bildung ist die mächtigste Waffe, die wir nutzen können, um die Welt zu verändern. (Nelson Mandela)</p>
              <p>Vor drei Jahren haben wir Schlemmen Ohne Grenzen nach Karlsruhe gebracht und bieten euch jetzt mit der Krimi Edition ein einzigartiges Event! Aber wir brauchen dringend deine Hilfe! Komm einfach mal vorbei!</p>
              <a href="http://karlsruhe.s-o-g.org/" class="btn btn-info">Schau vorbei!</a>
              <br>
              <img src="{% static 'frontend/img/gruppenbild.jpg' %}" class="polaroid-style small-image" style="margin-bottom: 30px">
            </div>
            <div class="col-lg-6">
              <img src="{% static 'frontend/img/logo_aim.svg' %}" class="small-image-by-height">
              <p>
                aim ist ein Team von engagierten Studenten, die es sich zur Aufgabe gemacht haben regelmäßige Veranstaltungen für die Studierenden der Fakultät Wirtschaftswissenschaften an der Hochschule Karlsruhe zu organisieren.
              </p>
              <p>
                Diese Projekte bieten Informationen, Hilfe und den Erwerb von Softskills bei Themen wie Auslandsaufenthalte, Knüpfung von Kontakten zu Unternehmen oder Fragen zu Bewerbungen im Ausland.
                Auch für die Freizeit bieten wir Feste und Parties - unter anderem auch das "aim Running Dinner".
              </p>
              <br>
              <a href="http://www.aim-karlsruhe.de/" class="btn btn-info">Schau vorbei!</a>
              <br>
              <img src="{% static 'frontend/img/aim_gruppenbild.jpg' %}" class="polaroid-style-inverted small-image" style="margin-bottom: 30px">
            </div>
          </div>
        </div>
    </section>
{% endblock %}
