{% extends "frontend/base_portal.html" %}
{% load static %}

{% block content %}

    <section>
      <div class="container">
        {% if locked %}
          <h1>Diese Seite ist erst ab Mittwoch 21:30 Uhr freigeschaltet</h1>
          Ihr müsst euch noch etwas gedulden ;)
        {% else %}
        <script>
        function checkSuche() {
          var value = document.getElementById('suche').value.toUpperCase().substr(0, 10);
          if (levenshteinDistance(value, "MUNICHRAPE") < 3) {
            window.location.href = 'https://schlemmen-ohne-grenzen.de/puzzle/email';
            return false;
          } else if (levenshteinDistance(value, "RICHARD") < 4) {
            alert('Richard Schoenborn - the most sexiest man alive. Aber leider nicht die Antwort auf dieses Rätsel.');
            document.getElementById('suche').value = '';
          } else if (value == 42) {
            alert('Antwort auf das Leben, das Universum und alles aber leider nicht auf diese Frage. Spot the computer scientist. Wave to friend! Hi :).');
            document.getElementById('suche').value = '';
          } else {
            alert('Leider konnten wir keinen passenden Artikel finden.');
            document.getElementById('suche').value = '';
          }
        };

        function levenshteinDistance (s, t) {
          if (s.length === 0) return t.length;
          if (t.length === 0) return s.length;

          return Math.min(
                  levenshteinDistance(s.substr(1), t) + 1,
                  levenshteinDistance(t.substr(1), s) + 1,
                  levenshteinDistance(s.substr(1), t.substr(1)) + (s[0] !== t[0] ? 1 : 0),
                  5
          );
        };

        </script>

          <img src="{% static 'frontend/img/neews-archive.png' %}" class="header_logo" alt="Neews Logo" style="height: 20%;">
          <p>Das weltweite Zeitungsarchiv. Immer für dich da - immer aktuell.</p>
          <form onsubmit="event.preventDefault();checkSuche()">
            <input type="text" placeholder="Was suchst du?" id="suche" class="form-control" style="width: 60%"></input>
            <br>
            <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i>Suchen</button>
          </form>
        {% endif %}
      </div>
    </section>

{% endblock %}
