{% extends "frontend/base_portal.html" %}
{% load static %}

{% block content %}
<header class="masthead">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="header-content">
                    <div class="header-content-inner">
                        <img src="{% static 'frontend/img/header_funk.png' %}" class="header_logo" alt="Schlemmen Ohne Grenzen Logo" srcset="{% static 'frontend/img/header_funk.png' %} 1920w, {% static 'frontend/img/header_funk_1000.png' %} 1000w, {% static 'frontend/img/header_funk_600.png' %} 600w">
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="bg-primary start">
  <div class="container centered">
    <h2><i class="fa fa-heart"></i>-lich willkommen<br>auf der Schlemmen Hilfe Seite!</h2>
    Hier findest du alle wichtigen Infos über den Abend.
    Manche Inhalte kannst du erst zu einer bestimmten Uhrzeit anschauen.
    Dazu zählen natürlich auch die Tipps zu den Rätseln.
    <br>
    Ganz am Ende der Seite stehen außerdem noch unsere Kontaktinformationen, falls es an dem Abend
    ein großes Problem gibt.


    <br>
    <a href="/charaktere" class="btn btn-primary"><i class="fa fa-sticky-note-o"></i>Hannas Notizen<br>(Charaktere)</a>
    <br>
    <a href="https://schlemmen-ohne-grenzen.de/static/frontend/puzzles/" class="btn btn-primary"><i class="fa fa-puzzle-piece"></i>Material</a>
    <br>
    <a href="/hilfe" class="btn btn-primary"><i class="fa fa-question"></i>Tipps zu den<br>Rätseln</a>
    <br>
    <a href="/vorspeise" class="btn btn-primary"><i class="fa fa-cutlery"></i>Vorspeise</a>
    <br>
    <a href="/nachspeise" class="btn btn-primary"><i class="fa fa-cutlery"></i>Nachspeise</a>
    <br>
    <a href="/faq" class="btn btn-primary"><i class="fa fa-info"></i>FAQ &amp; Uhrzeiten</a>
  </div>
</section>

{% endblock %}
</div>
