{% extends "frontend/base.html" %}
{% block content %}
<section class="contact bg-primary small-container">
    <div class="container signup_success">
        <div class="row">
          <div class="col-md-2">
            <i class="fa fa-check facebook-event-logo"></i>
          </div>
          <div class="col-md-10">
            <h2>Anmeldung abgeschlossen!</h2>
            <p>Vielen Dank für die Anmeldung. Du solltest eine Bestätigungsmail bekommen haben - schau bitte mal nach. Falls du keine Mail erhältst, kontaktiere uns bitte.</p>
            <p>Welchen Gang ihr kochen dürft und bei wem ihr zu Gast seid erhaltet ihr am 10. Juli gegen 20:00 Uhr.</p>
          </div>
        </div>
    </div>
</section>
<section class="bg-facebook small-container facebook-event-container">
    <div class="container signup_success">
        <div class="row">
          <div class="col-md-2">
            <i class="fa fa-facebook facebook-event-logo"></i>
          </div>
          <div class="col-md-10">
            <h2>Eine kleine Bitte: Auf Facebook teilnehmen?</h2>
            <p>Werbung zu machen ist viel Arbeit und teuer.
              <br>
              Aber du könntest uns mit einer kleinen Geste echt weiterhelfen!</p>
              <p>Zeig auf Facebook, dass du an dem Event teilnimmst - kleiner Act für dich, aber für uns echt wichtig! Danke dir!</p>
              <a class="btn btn-primary" href="https://www.facebook.com/events/132127340825452/">Zum Event</a>
          </div>
        </div>
    </div>
</section>
{% endblock %}
