{% extends "frontend/base.html" %}
{% block content %}
<section class="contact bg-primary" id="anmelden">
    <div class="container signup_success">
        <h1>Anmeldung abgeschlossen!</h1>
        <p>Vielen Dank für die Anmeldung. Du solltest demnächst eine Mail mit einer Bestätigung und weiteren Informationen erhalten. Falls du keine Mail erhältst, kontaktiere uns bitte.</p>
        <p>Welchen Gang ihr kochen dürft, bei wem ihr zu Gast seid und auch die Hinweise zu euren Rätseln erhaltet ihr am 19. Juni gegen 20:00 Uhr.</p>
    </div>
</section>
{% endblock %}
