{% extends "frontend/couch/base.html" %}
{% load static %}
{% block content %}
<header class="masthead couchhead">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="header-content">
                    <div class="header-content-inner">
                        <img src="{% static 'frontend/img/header_couch.png' %}" class="header_logo" alt="Schlemmen Ohne Grenzen Couch Logo" srcset="{% static 'frontend/img/header_couch.png' %} 1920w, {% static 'frontend/img/header_couch_1000.png' %} 1000w, {% static 'frontend/img/header_couch_600.png' %} 600w">
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
{% for post in posts %}
    <div class="post panel panel-warning" id="{{post.id}}">
      <div class="panel-heading"><h3><span class="fa fa-thumb-tack"></span> {{post.titel}}</h3></div>
      <div class="panel-body">
        <img src="{% get_media_prefix %}/{{post.image}}" />
      </div>
      <div class="panel-footer">
        <span class="prosts label label-warning pull-left"><span class="fa fa-beer"></span> <span class="badge">{{post.vote_set.all | length}}</span></span>
        <a class="prost-this btn btn-warning pull-right" type="button" href="{% url 'frontend:couch_prost' post.id  %}">
          <i class="fa fa-beer"></i> Prost!
        </a>
      </div>
    </div>
{% empty %}
  <p>Es hat noch niemand etwas getoastet... Sprich einen Toast aus!</p>
{% endfor %}
</div>

<div class="add-container">
  <button class="btn btn-primary" onclick="javascript:window.location='/couch_add'"><span class="fa fa-plus"></span></button>
</div>
{% endblock %}
